@font-face {
  font-family: "quicksand-tittle";
  src: url("/fonts/dm-sans-latin-ext-800-normal.ttf");
}

@font-face {
  font-family: "quicksand-thin";
  src: url("/fonts/open-sans-cyrillic-500-normal.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2)
    format("woff2");
}

@font-face {
  font-family: "bold";
  src: url("/fonts/bold.ttf");
}

@font-face {
  font-family: "alternativa-1";
  src: url("/fonts/gh1.ttf");
}
@font-face {
  font-family: "texto-general";
  src: url("/fonts/nunito-latin-400-normal.ttf");
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "texto-general";
}
p {
  font-family: "texto-general";
}
.text-parrafo {
  font-family: "texto-general";
}

.fondo-bold {
  font-family: "alternativa-1";
}

h2 {
  font-family: "alternativa-1";
}
/* h1 {
  font-family: "quicksand-tittle";
} */

.hands-font {
  font-family: "quicksand-tittle";
}

.thin-texto {
  font-family: "quicksand-thin";
}
