@font-face {
  font-family: "bold";
  src: url("/fonts/bold.ttf");
}
@font-face {
  font-family: "texto";
  src: url("/fonts/texto.otf");
}
@font-face {
  font-family: "alternativa-1";
  src: url("/fonts/gh1.ttf");
}
@font-face {
  font-family: "texto-general";
  src: url("/fonts/lato-latin-400-normal.woff");
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "texto-general";

}

.text-parrafo {
  font-family: "alternativa-1";
}

.fondo-bold {
  font-family: "bold";
}

.transition-custom {
  transition: all 0.6s;
}

.mi-lista {
  list-style-type: disc; /* Establecer el tipo de viñeta (puedes probar con circle, square, etc.) */
}

.triangulo {
  width: 0;
  height: 0;
  border-top: 60px solid transparent; /* Tamaño del triángulo */
  border-bottom: 60px solid transparent;
  border-left: 56.6px solid #efefef; /*#efefef Altura del triángulo, calculada como la mitad de la base por la altura de un triángulo equilátero */
}

/* .estadistica-animacion-hover:hover p,
.svg-custom {
  color: black;
}

.estadistica-animacion-hover:hover .svg-custom {
  fill: black;
} */

/* Tarjetas.css */

/* Estilos del slider */
.slider-container {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Desactiva el efecto de desplazamiento de iOS */
}

.slider-item {
  flex: 0 0 auto;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
.container-anim-download {
  transition: background 0.5s;
}

.container-anim-download:hover .anim-down {
  animation: download-anim 1s ease-in-out infinite;
}

.container-anim-download:hover {
  background: #003b8e;
}

.inverse {
  background-color: #121212;
  color: #efefef;
}
.full-bleed {
  box-shadow: 0 0 0 100vmax #121212;
  clip-path: inset(0 -100vmax);
  padding: 5rem 0 5rem 0;
}

/* button { 
  position: relative;
} */

/* .btn-background { 
 position: relative;
 background: transparent;
 
}

.btn-background::after { 
  content: "";
  top: 0;
  left: 0;
  background: url("/assets/png/font.png");
  background-position: 100% 20% 12%;
  width: 100px;
  height: 10px;
  position: absolute;
  z-index: 0;
 } */

@keyframes download-anim {
  50% {
    transform: translateY(-5px);
  }
}

/* Estilos específicos del slider */
@media (min-width: 768px) {
  .slider-container {
    overflow-x: visible;
    display: flex;
  }

  .slider-item {
    flex: 0 0 33.33%; /* 3 items en una fila */
  }
}
